{% extends 'main.html' %}

{% block content %}
<a href="{% url 'create-project' %}">Add project</a>
<h1>All projects are here</h1>
<table>
    <tr>
        <th>Title</th>
        <th>vote total</th>
        <th>vote ratio</th>
        <th>created time</th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>
            {{project.title}}
        </td>
        <td>
            {{project.vote_total}}
        </td>
        <td>
            {{project.vote_ratio}}
        </td>
        <td>
            {{project.created_time}}
        </td>
        <td>
            <a href="{% url 'project' project.id %}">View</a>
        </td>
        <td>
            <a href="{% url 'update-project' project.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url 'delete-project' project.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<ul>
    {% for project in projects %}
    <li> <a href="{% url 'project' project.id %}">{{project.title}}</a></li>
    {% endfor %}
</ul>

{% endblock content %}